<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/dota2styles.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <div id="gameHeader">
                <a href="http://dota2.com"><p id="gameImage"><img src="/assets/games/dota2.png" /></p>
                <p id="gameTitle">Dota 2</p></a>
            </div>
            <div id="tournamentHeader">
                <a href="http://the-defense.com"><p id="tournamentImage"><img src="/assets/tournaments/theDefense.png" /></p>
                <p id="tournamentTitle">The Defense</p></a>
            </div>
        </div>
    </header>
    <div id="main">
        {{ content }}
    </div>
    <footer></footer>
</body>
</html>