<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/dota2styles.css">
</head>
<body>
    <header><h1>{{ page.title }}</h1></header>
    <div id="matchInfo"></div>
    <div id="awayTeam">
        {% assign teamSelect = page.match.team.away %}
        {% include team-selector.html %}
    </div>
    <div id="homeTeam">
        {% assign teamSelect = page.match.team.home %}
        {% include team-selector.html %}
        <div>
        </div>
    </div>
    <div id="picks">
        <ul>
        {% for pick in page.match.picks %}
            <li>{{ pick.text }}</li>
        {% endfor %}
    </div>
    <footer></footer>
</body>
</html>