body {
	background:#0A1010;
	color:#B7B7B4;
	font-family: Arial, Helvetica, sans-serif;
}
#teams {
	text-align:center;
}
#picks {
	text-align:center;
}
#awayTeam, #homeTeam {
	display:inline-block;
	width:500px;
	margin:50px;
}
#awayTeam div, #awayTeam table, #homeTeam div, #homeTeam table {
	margin-left:auto;
	margin-right:auto;
}
a:link, a:visited {
	color:white;
	text-decoration:none;
}
a:hover {
	color:#CFCFCF;
}
.heroImage img {
	width:150px;
	height:auto;
}
#matchInfo {
	text-align: center;
}

#picks ul {
	margin-left:auto;
	margin-right:auto;
	width:600px;
}

#picks li {
	display:block;
	width:300px;
	padding:10px;
}
#picks li .heroName {
	text-align:center;
	width:120px;
}
#picks .heroImage img {
	width:120px;
}

#picks .radiant .heroName {
	margin-left:auto;
}

#picks .radiant {
	text-align: right;
	margin-right:200px;
    background: #598307;
    background: -webkit-gradient(linear, right top, left bottom, from(rgba(89,131,7,1)), to(rgba(89,131,7,0))));   
    background: -webkit-linear-gradient(right, rgba(89,131,7,1), rgba(89,131,7,0));   
    background:    -moz-linear-gradient(right, rgba(89,131,7,1), rgba(89,131,7,0));   
    background:     -ms-linear-gradient(right, rgba(89,131,7,1), rgba(89,131,7,0));   
    background:      -o-linear-gradient(right, rgba(89,131,7,1), rgba(89,131,7,0));   
    background:         linear-gradient(to right, rgba(89,131,7,1), rgba(89,131,7,0));
}
#picks .dire {
	text-align: left;
	margin-left:200px;
    background: #A83806;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(168,56,6,1)), to(rgba(168,56,6,0))));   
    background: -webkit-linear-gradient(left, rgba(168,56,6,1), rgba(168,56,6,0));   
    background:    -moz-linear-gradient(left, rgba(168,56,6,1), rgba(168,56,6,0));   
    background:     -ms-linear-gradient(left, rgba(168,56,6,1), rgba(168,56,6,0));   
    background:      -o-linear-gradient(left, rgba(168,56,6,1), rgba(168,56,6,0));   
    background:         linear-gradient(to left, rgba(168,56,6,1), rgba(168,56,6,0));
}
#picks img.ban {
    z-index:10;
    width:120px;
    height:auto;
}
#picks .radiant {
	position:relative;
}
#picks .radiant img.ban {
    position:absolute;
    right:10px;
}
#picks .dire img.ban {
    position: absolute;
}
.teamName {
	font-size:2em;
}

#awayTeam, #homeTeam {
	border-radius:20px;
	border:1px solid;
}

#awayTeam {
	background:black;
	border-left-color:black;
	border-top-color:gray;
	box-shadow: 1px 2px 4px #000000;
}
#homeTeam {
	background: black;
	border-right-color:black;
	border-top-color:gray;
	box-shadow: -1px 2px 4px #000000;
}

header {
	text-align: center;
	position:relative;
}

#gameHeader, #tournamentHeader {
	display:inline-block;
    width:550px;
    border-radius:10px;
    border:1px solid;
    border-color:black;
    border-bottom-color:gray;
    margin:20px 30px;
    background-color:black;
    position:absolute;
    top:0px;
}

#gameHeader p, #tournamentHeader p {
    font-size:2em;
}

#gameHeader a, #tournamentHeader a {
    display:inline-block;
}

#matchInfo div {
    display:inline-block;
    margin:20px;
}