body {
	background:#0A1010;
	color:#B7B7B4;
	font-family: Arial, Helvetica, sans-serif;
}
div {
	border:1px solid #B7B7B4;
}
#teams {
	text-align:center;
}
#awayTeam, #homeTeam {
	display:inline-block;
	width:500px;
}
#awayTeam div, #awayTeam table, #homeTeam div, #homeTeam table {
	text-align:center;
}