body {
	background:#0A1010;
	color:#B7B7B4;
	font-family: Arial, Helvetica, sans-serif;
}
#teams {
	text-align:center;
}
#picks {
	text-align:center;
}
#awayTeam, #homeTeam {
	display:inline-block;
	width:500px;
	margin:50px;
}
#awayTeam div, #awayTeam table, #homeTeam div, #homeTeam table {
	margin-left:auto;
	margin-right:auto;
}
a:link, a:visited {
	color:white;
	text-decoration:none;
}
a:hover {
	color:#CFCFCF;
}
.heroImage img {
	width:120px;
	height:auto;
}

#picks ul {
	margin-left:auto;
	margin-right:auto;
	width:600px;
}

#picks li {
	display:block;
	width:300px;
	padding:10px;
}
#picks li heroName {
	text-align:center;
}

#picks .radiant {
	text-align: right;
	margin-right:200px;
    background: #598307;
    background: -webkit-gradient(linear, right top, left bottom, from(rgba(89,131,7,1)), to(rgba(89,131,7,0))));   
    background: -webkit-linear-gradient(right, rgba(89,131,7,1), rgba(89,131,7,0));   
    background:    -moz-linear-gradient(right, rgba(89,131,7,1), rgba(89,131,7,0));   
    background:     -ms-linear-gradient(right, rgba(89,131,7,1), rgba(89,131,7,0));   
    background:      -o-linear-gradient(right, rgba(89,131,7,1), rgba(89,131,7,0));   
    background:         linear-gradient(to right, rgba(89,131,7,1), rgba(89,131,7,0));
}
#picks .dire {
	text-align: left;
	margin-left:200px;
    background: #A83806;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(168,56,6,1)), to(rgba(168,56,6,0))));   
    background: -webkit-linear-gradient(left, rgba(168,56,6,1), rgba(168,56,6,0));   
    background:    -moz-linear-gradient(left, rgba(168,56,6,1), rgba(168,56,6,0));   
    background:     -ms-linear-gradient(left, rgba(168,56,6,1), rgba(168,56,6,0));   
    background:      -o-linear-gradient(left, rgba(168,56,6,1), rgba(168,56,6,0));   
    background:         linear-gradient(to left, rgba(168,56,6,1), rgba(168,56,6,0));
}
#picks .ban {

}
#picks .pick {

}