{% case heroSelect  %}
{% when "Earthshaker" %}
{% assign heroImage = 'Earthshaker.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Earthshaker' %}
{% when "Sven" %}
{% assign heroImage = 'Sven.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Sven' %}
{% when "Tiny" %}
{% assign heroImage = 'Tiny.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Tiny' %}
{% when "Kunkka" %}
{% assign heroImage = 'Kunkka.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Kunkka' %}
{% when "Beastmaster" %}
{% assign heroImage = 'Beastmaster.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Beastmaster' %}
{% when "Dragon Knight" %}
{% assign heroImage = 'Dragon_Knight.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Dragon_Knight' %}
{% when "Clockwerk" %}
{% assign heroImage = 'Clockwerk.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Clockwerk' %}
{% when "Omniknight" %}
{% assign heroImage = 'Omniknight.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Omniknight' %}
{% when "Huskar" %}
{% assign heroImage = 'Huskar.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Huskar' %}
{% when "Alchemist" %}
{% assign heroImage = 'Alchemist.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Alchemist' %}
{% when "Brewmaster" %}
{% assign heroImage = 'Brewmaster.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Brewmaster' %}
{% when "Treant Protector" %}
{% assign heroImage = 'Treant_Protector.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Treant_Protector' %}
{% when "Guardian Wisp" %}
{% assign heroImage = 'Guardian_Wisp.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Guardian_Wisp' %}
{% when "Centaur Warchief" %}
{% assign heroImage = 'Centaur_Warchief.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Centaur_Warchief' %}
{% when "Tauren Chieftain" %}
{% assign heroImage = 'Tauren_Chieftain.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Tauren_Chieftain' %}
{% when "Bristleback" %}
{% assign heroImage = 'Bristleback.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Bristleback' %}
{% when "Phoenix" %}
{% assign heroImage = 'Phoenix.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Phoenix' %}
{% when "Tuskarr" %}
{% assign heroImage = 'Tuskarr.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Tuskarr' %}
{% when "Goblin Shredder" %}
{% assign heroImage = 'Goblin_Shredder.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Goblin_Shredder' %}
{% when "Legion Commander" %}
{% assign heroImage = 'Legion_Commander.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Legion_Commander' %}
{% when "Anti-Mage" %}
{% assign heroImage = 'Anti-Mage.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Anti-Mage' %}
{% when "Drow Ranger" %}
{% assign heroImage = 'Drow_Ranger.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Drow_Ranger' %}
{% when "Juggernaut" %}
{% assign heroImage = 'Juggernaut.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Juggernaut' %}
{% when "Mirana" %}
{% assign heroImage = 'Mirana.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Mirana' %}
{% when "Morphling" %}
{% assign heroImage = 'Morphling.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Morphling' %}
{% when "Phantom Lancer" %}
{% assign heroImage = 'Phantom_Lancer.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Phantom_Lancer' %}
{% when "Vengeful Spirit" %}
{% assign heroImage = 'Vengeful_Spirit.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Vengeful_Spirit' %}
{% when "Riki" %}
{% assign heroImage = 'Riki.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Riki' %}
{% when "Sniper" %}
{% assign heroImage = 'Sniper.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Sniper' %}
{% when "Bounty Hunter" %}
{% assign heroImage = 'Bounty_Hunter.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Bounty_Hunter' %}
{% when "Ursa" %}
{% assign heroImage = 'Ursa.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Ursa' %}
{% when "Gyrocopter" %}
{% assign heroImage = 'Gyrocopter.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Gyrocopter' %}
{% when "Lone Druid" %}
{% assign heroImage = 'Lone_Druid.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Lone_Druid' %}
{% when "Luna" %}
{% assign heroImage = 'Luna.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Luna' %}
{% when "Templar Assassin" %}
{% assign heroImage = 'Templar_Assassin.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Templar_Assassin' %}
{% when "Naga Siren" %}
{% assign heroImage = 'Naga_Siren.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Naga_Siren' %}
{% when "Troll Warlord" %}
{% assign heroImage = 'Troll_Warlord.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Troll_Warlord' %}
{% when "Ember Spirit" %}
{% assign heroImage = 'Ember_Spirit.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Ember_Spirit' %}
{% when "Crystal Maiden" %}
{% assign heroImage = 'Crystal_Maiden.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Crystal_Maiden' %}
{% when "Puck" %}
{% assign heroImage = 'Puck.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Puck' %}
{% when "Storm Spirit" %}
{% assign heroImage = 'Storm_Spirit.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Storm_Spirit' %}
{% when "Windrunner" %}
{% assign heroImage = 'Windrunner.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Windrunner' %}
{% when "Zeus" %}
{% assign heroImage = 'Zeus.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Zeus' %}
{% when "Lina" %}
{% assign heroImage = 'Lina.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Lina' %}
{% when "Shadow Shaman" %}
{% assign heroImage = 'Shadow_Shaman.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Shadow_Shaman' %}
{% when "Enchantress" %}
{% assign heroImage = 'Enchantress.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Enchantress' %}
{% when "Nature's Prophet" %}
{% assign heroImage = 'Nature%27s_Prophet.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Nature%27s_Prophet' %}
{% when "Tinker" %}
{% assign heroImage = 'Tinker.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Tinker' %}
{% when "Jakiro" %}
{% assign heroImage = 'Jakiro.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Jakiro' %}
{% when "Chen" %}
{% assign heroImage = 'Chen.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Chen' %}
{% when "Silencer" %}
{% assign heroImage = 'Silencer.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Silencer' %}
{% when "Ogre Magi" %}
{% assign heroImage = 'Ogre_Magi.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Ogre_Magi' %}
{% when "Rubick" %}
{% assign heroImage = 'Rubick.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Rubick' %}
{% when "Disruptor" %}
{% assign heroImage = 'Disruptor.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Disruptor' %}
{% when "Keeper of the Light" %}
{% assign heroImage = 'Keeper_of_the_Light.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Keeper_of_the_Light' %}
{% when "Goblin Techies" %}
{% assign heroImage = 'Goblin_Techies.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Goblin_Techies' %}
{% when "Skywrath Mage" %}
{% assign heroImage = 'Skywrath_Mage.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Skywrath_Mage' %}
{% when "Axe" %}
{% assign heroImage = 'Axe.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Axe' %}
{% when "Pudge" %}
{% assign heroImage = 'Pudge.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Pudge' %}
{% when "Sand King" %}
{% assign heroImage = 'Sand_King.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Sand_King' %}
{% when "Slardar" %}
{% assign heroImage = 'Slardar.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Slardar' %}
{% when "Tidehunter" %}
{% assign heroImage = 'Tidehunter.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Tidehunter' %}
{% when "Skeleton King" %}
{% assign heroImage = 'Skeleton_King.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Skeleton_King' %}
{% when "Lifestealer" %}
{% assign heroImage = 'Lifestealer.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Lifestealer' %}
{% when "Night Stalker" %}
{% assign heroImage = 'Night_Stalker.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Night_Stalker' %}
{% when "Doom Bringer" %}
{% assign heroImage = 'Doom_Bringer.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Doom_Bringer' %}
{% when "Spirit Breaker" %}
{% assign heroImage = 'Spirit_Breaker.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Spirit_Breaker' %}
{% when "Lycanthrope" %}
{% assign heroImage = 'Lycanthrope.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Lycanthrope' %}
{% when "Chaos Knight" %}
{% assign heroImage = 'Chaos_Knight.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Chaos_Knight' %}
{% when "Undying" %}
{% assign heroImage = 'Undying.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Undying' %}
{% when "Magnataur" %}
{% assign heroImage = 'Magnataur.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Magnataur' %}
{% when "Abaddon" %}
{% assign heroImage = 'Abaddon.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Abaddon' %}
{% when "Pit Lord" %}
{% assign heroImage = 'Pit_Lord.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Pit_Lord' %}
{% when "Bloodseeker" %}
{% assign heroImage = 'Bloodseeker.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Bloodseeker' %}
{% when "Shadow Fiend" %}
{% assign heroImage = 'Shadow_Fiend.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Shadow_Fiend' %}
{% when "Razor" %}
{% assign heroImage = 'Razor.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Razor' %}
{% when "Venomancer" %}
{% assign heroImage = 'Venomancer.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Venomancer' %}
{% when "Faceless Void" %}
{% assign heroImage = 'Faceless_Void.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Faceless_Void' %}
{% when "Phantom Assassin" %}
{% assign heroImage = 'Phantom_Assassin.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Phantom_Assassin' %}
{% when "Viper" %}
{% assign heroImage = 'Viper.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Viper' %}
{% when "Broodmother" %}
{% assign heroImage = 'Broodmother.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Broodmother' %}
{% when "Weaver" %}
{% assign heroImage = 'Weaver.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Weaver' %}
{% when "Spectre" %}
{% assign heroImage = 'Spectre.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Spectre' %}
{% when "Clinkz" %}
{% assign heroImage = 'Clinkz.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Clinkz' %}
{% when "Meepo" %}
{% assign heroImage = 'Meepo.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Meepo' %}
{% when "Nyx Assassin" %}
{% assign heroImage = 'Nyx_Assassin.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Nyx_Assassin' %}
{% when "Medusa" %}
{% assign heroImage = 'Medusa.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Medusa' %}
{% when "Soul Keeper" %}
{% assign heroImage = 'Soul_Keeper.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Soul_Keeper' %}
{% when "Slark" %}
{% assign heroImage = 'Slark.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Slark' %}
{% when "Bane" %}
{% assign heroImage = 'Bane.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Bane' %}
{% when "Lich" %}
{% assign heroImage = 'Lich.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Lich' %}
{% when "Lion" %}
{% assign heroImage = 'Lion.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Lion' %}
{% when "Witch Doctor" %}
{% assign heroImage = 'Witch_Doctor.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Witch_Doctor' %}
{% when "Enigma" %}
{% assign heroImage = 'Enigma.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Enigma' %}
{% when "Necrolyte" %}
{% assign heroImage = 'Necrolyte.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Necrolyte' %}
{% when "Warlock" %}
{% assign heroImage = 'Warlock.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Warlock' %}
{% when "Queen of Pain" %}
{% assign heroImage = 'Queen_of_Pain.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Queen_of_Pain' %}
{% when "Death Prophet" %}
{% assign heroImage = 'Death_Prophet.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Death_Prophet' %}
{% when "Pugna" %}
{% assign heroImage = 'Pugna.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Pugna' %}
{% when "Dazzle" %}
{% assign heroImage = 'Dazzle.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Dazzle' %}
{% when "Leshrac" %}
{% assign heroImage = 'Leshrac.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Leshrac' %}
{% when "Dark Seer" %}
{% assign heroImage = 'Dark_Seer.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Dark_Seer' %}
{% when "Batrider" %}
{% assign heroImage = 'Batrider.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Batrider' %}
{% when "Ancient Apparition" %}
{% assign heroImage = 'Ancient_Apparition.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Ancient_Apparition' %}
{% when "Invoker" %}
{% assign heroImage = 'Invoker.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Invoker' %}
{% when "Outworld Destroyer" %}
{% assign heroImage = 'Outworld_Destroyer.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Outworld_Destroyer' %}
{% when "Shadow Demon" %}
{% assign heroImage = 'Shadow_Demon.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Shadow_Demon' %}
{% when "Visage" %}
{% assign heroImage = 'Visage.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Visage' %}
{% else %}
{% assign heroImage = 'Unknown_Hero.png' %}
{% assign heroLink = 'http://www.dota2wiki.com/wiki/Heroes' %}
{% endcase %}

<a href="{{ heroLink }}"><div class="heroImage"><img src="/assets/heroes/{{ heroImage }}" /></div>
<div class="heroName">{{ heroSelect }}</div></a>