{% case teamSelect.name  %}
{% when "4 Friends + Chrilee" %}
{% assign teamAbbr = "4FC" %}
{% assign teamImage = "4_Friends_+_Chrilee.png" %}
{% when "Absolute Legends" %}
{% assign teamAbbr = "aL" %}
{% assign teamImage = "Absolute_Legends.png" %}
{% when "compLexity Gaming" %}
{% assign teamAbbr = 'coL' %}
{% assign teamImage = 'compLexity_Gaming.png' %}
{% when "Copenhagen Wolves" %}
{% assign teamAbbr = 'Wolves' %}
{% assign teamImage = 'Copenhagen_Wolves.png' %}
{% when "Counter Logic Gaming" %}
{% assign teamAbbr = 'CLG' %}
{% assign teamImage = 'Counter_Logic_Gaming.png' %}
{% when "Darer Entertainment" %}
{% assign teamAbbr = "Darer" %}
{% assign teamImage = "Darer_Entertainment.png" %}
{% when "Evil Geniuses" %}
{% assign teamAbbr = 'EG' %}
{% assign teamImage = 'Evil_Geniuses.png' %}
{% when "Fnatic RaidCall" %}
{% assign teamAbbr = "fnatic" %}
{% assign teamImage = "Fnatic_RaidCall.png" %}
{% when "HelloMoto" %}
{% assign teamAbbr = "HM" %}
{% assign teamImage = "HelloMoto.png" %}
{% when "Hydra" %}
{% assign teamAbbr = "Hydra" %}
{% assign teamImage = "Hydra.png" %}
{% when "Mortal Teamwork" %}
{% assign teamAbbr = "mTw" %}
{% assign teamImage = "Mortal_Teamwork.png" %}
{% when "Moscow Five" %}
{% assign teamAbbr = 'M5' %}
{% assign teamImage = 'Moscow_Five.png' %}
{% when "Mousesports" %}
{% assign teamAbbr = "Mouz" %}
{% assign teamImage = "Mousesports.png" %}
{% when "Natus Vincere" %}
{% assign teamAbbr = "Na'Vi" %}
{% assign teamImage = 'Natus_Vincere.png' %}
{% when "Next Gaming" %}
{% assign teamAbbr = "Next" %}
{% assign teamImage = "Next_Gaming.png" %}
{% when "PotM Bottom" %}
{% assign teamAbbr = "PM" %}
{% assign teamImage = "PotM_Bottom.png" %}
{% when "Power Rangers" %}
{% assign teamAbbr = "PR" %}
{% assign teamImage = "Power_Rangers.png" %}
{% when "Quantic Gaming" %}
{% assign teamAbbr = "Quantic" %}
{% assign teamImage = "Quantic_Gaming.png" %}
{% when "Storm Games Clan" %}
{% assign teamAbbr = "SGC" %}
{% assign teamImage = "Storm_Games_Clan.png" %}
{% when "Team Empire" %}
{% assign teamAbbr = "Empire" %}
{% assign teamImage = "Team_Empire.png" %}
{% when "Team Infused" %}
{% assign teamAbbr = "Infs" %}
{% assign teamImage = "Team_Infused.png" %}
{% when "uebelst-gamynG" %}
{% assign teamAbbr = "uebelst" %}
{% assign teamImage = "uebelst-gamynG.png" %}
{% when "We haz Asian" %}
{% assign teamAbbr = "WhA" %}
{% assign teamImage = "We_haz_Asian.png" %}
{% when "zNation" %}
{% assign teamAbbr = "zNation" %}
{% assign teamImage = "zNation.png" %}
{% else %}
{% assign teamAbbr = '???' %}
{% assign teamImage = 'Unknown-Team.png' %}
{% endcase %}

<div class="teamImage"><img src="/assets/teams/{{ teamImage }}" /></div>
<div class="teamName">{{ teamSelect.name }}</div>
<div class="teamAbbr">{{ teamAbbr }}</div>
<!--div class="teamRecord">{{ teamSelect.record }}</div-->