{% case teamSelect.name  %}
{% when "compLexity Gaming" %}
{% assign teamAbbr = 'coL' %}
{% assign teamImage = 'compLexity-Gaming.png' %}
{% when "Moscow Five" %}
{% assign teamAbbr = 'M5' %}
{% assign teamImage = 'Moscow-Five.png' %}
{% else %}
{% assign teamAbbr = '???' %}
{% assign teamImage = 'Unknown-Team.png' %}
{% endcase %}

<div class="teamImage"><img src="/assets/teams/{{ teamImage }}" /></div>
<div class="teamName">{{ teamSelect.name }}</div>
<div class="teamAbbr">{{ teamAbbr }}</div>