---
layout: dota2-tournament
title: The Defense Season 2 - ProgramZeta.com
---
    <h1>The Defense Season 2</h1>
    <div id="posts">
        {% for post in site.posts %}
        	{% if post.match.info.tournament == 'The Defense Season 2' %}
                <a match href="{{ post.url }}">
                    <div class="awayTeam">
                        {% assign teamSelect = post.match.team.away %}
                        {% include team-selector.html %}
                    </div>
                    <div class="vs">vs.</div>
                    <div class="homeTeam">
                        {% assign teamSelect = post.match.team.home %}
                        {% include team-selector.html %}
                    </div>
                </a>
        	{% endif %}
        {% endfor %}
    </div>