---
layout: dota2-tournament
title: The Defense Season 2 - ProgramZeta.com
---
    <h1>The Defense Season 2</h1>
    <div id="posts">
        {% for post in site.posts %}
        	{% if post.match.info.tournament == 'The Defense Season 2'}
        	<div class="post">
            	<div class="post_preamble"><span class="date">{{ post.date | date: "%Y.%m.%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></div>
        	</div>
        	{% endif %}
        {% endfor %}
    </div>